html,body{
	padding: 5px;
	margin: 5px;
	width: 100%;
}

body{
	background-image: url("../images/nasa.jpg");
	padding:10px;
	background-attachment: fixed; /* background wil stay in place */
	background-size: cover;
	margin-top: 60px;
	color: white;
	max-width: 1100px; /*contain content within especify width */
	margin: auto;
	padding: 10px;
}

h1,h2 {
	line-height: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
}
#paragraph{
	font-style: normal;
}
ul{
	font-style: italic;
}

header {
	background-color: white;
	position: fixed; /* nav always visible at top */
	height: 60px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: inline-flex; /* flexbox to arrange nav list into rows*/
	align-items: center;
	box-shadow: 0 0 25px 0 black; 
}
header * {
	display: inline;
}

.menu{
	list-style-type: none;
	color: black;
	text-decoration:none;
}

header li{
	margin: 20px;
}

header li a{
	color: black;
	text-decoration:none;	
}

img{
	height: 300px;
	width: 300px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-size: 35px;
	margin-top: 70px;
	text-decoration:underline blanchedalmond;
}

#basketball{
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

#contact{
	margin-top: 70px;
}

.msg{
	text-align: center;
	font-size: 25px;
	text-decoration: underline blanchedalmond;
}

#btn{
	background-color: blanchedalmond;
	margin-bottom: 5%;
}

#btn:hover{
	color:white;
	background-color: teal;
	border: black;
}
#frm{
	display: block;
	text-align: center;
}

#table{
	background: white;
	border: 4px solid black;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

td,th{
	border: 4px solid black;
	color: black;
}

input{
	width: 50%;
	height: 30px;
}

h4{
	font-size: 20px;
	text-decoration:underline cornsilk;
}
.list{
list-style-type: square;
}
